@import "tailwindcss";

:root {
  --background: #ffffff;
  --secondary: #171717;
  --primary: #ecc737;
  --heading: #000000;
  --textColor: #202122;
  --font-inter: "Montserrat", sans-serif;
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--textColor);
  font-family: var(--font-inter);
}

@layer base {
  :root {
    --background: #ffffff;
    --secondary: #171717;
    --primary: #ecc737;
    --heading: #000000;
    --textColor: #202122;
  }
}
